# Настройки FastAPI
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1 testserver
SECRET_KEY=secret

# Подключение к БД
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=currency_exchange

# Настройки JWT
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Настройки почтового агента
SMTP_USER=user@gmail.com
SMTP_PASSWORD=secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SSL_TLS=True

# Токен APILayer
CURRENCY_DATA_API=secret
