<p><strong>Здравствуйте!</strong></p>
<br>
<p>
    Вы получили это письмо, потому что на сайте <strong>Currency Exchange</strong><br>
    была создана регистрационная запись с использованием вашего электронного адреса (e-mail).
</p>
<p>
    Для завершения регистрации и активации вашего аккаунта, пожалуйста, перейдите по ссылке ниже:<br>
    <a href='{url_confirm}' style='color: #1E90FF; text-decoration: none;' target='_blank'>{url_confirm}</a>
</p>
<br>
<p>Если вы не регистрировались на <strong>Currency Exchange</strong>, пожалуйста, проигнорируйте это сообщение.</p>
<p><strong>Спасибо за внимание!</strong></p>